# Node modules directory
node_modules/

# Environment variable files
.env

# Log files
logs/
*.log
npm-debug.log*

# Build directories
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
